openapi: 3.1.0
info:
  title: Ethos API
  description: API for interacting with the Ethos network
  version: 1.0.0
  contact:
    name: Ethos Team
    url: https://ethos.network
servers:
  - url: https://api.ethos.network
    description: Production server

paths:
  # Authentication API
  /api/v1/privy-logins:
    $ref: './paths/auth.yaml#/privy_login_create'
  /api/v1/privy-logins/tokens:
    $ref: './paths/auth.yaml#/privy_login_save_oauth2_tokens'

  # Attestations (Verifications) API
  /api/v1/attestations:
    $ref: './paths/attestations.yaml#/attestations_query'
  /api/v1/attestations/extended:
    $ref: './paths/attestations.yaml#/attestations_extended_query'
  /api/v1/signatures/create-attestation:
    $ref: './paths/attestations.yaml#/create_attestation_signature'

  # Profile API
  /api/v1/profiles:
    $ref: './paths/profiles.yaml#/profiles'
  /api/v1/profiles/recent:
    $ref: './paths/profiles.yaml#/profiles_recent'
  /api/v1/profiles/directory:
    $ref: './paths/profiles.yaml#/profiles_directory'
  /api/v1/profiles/credibility-leaderboard:
    $ref: './paths/profiles.yaml#/profiles_credibility_leaderboard'
  /api/v1/profiles/stats:
    $ref: './paths/profiles.yaml#/profiles_stats'
  /api/v1/profiles/xp-leaderboard:
    $ref: './paths/profiles.yaml#/profiles_xp_leaderboard'
  /api/v1/profiles/with-x-attestation:
    $ref: './paths/profiles.yaml#/profiles_with_x_attestation'

  # Activities API
  /api/v1/activities/{type}/{id}:
    $ref: './paths/activities.yaml#/activity_by_id'
  /api/v1/activities:
    $ref: './paths/activities.yaml#/activities_bulk'
  /api/v1/activities/unified:
    $ref: './paths/activities.yaml#/activities_unified'
  /api/v1/activities/actor/{userkey}:
    $ref: './paths/activities.yaml#/activity_actor'
  /api/v1/activities/actors:
    $ref: './paths/activities.yaml#/activities_bulk_actors'
  /api/v1/activities/votes:
    $ref: './paths/activities.yaml#/activities_votes'
  /api/v1/activities/invite/accepted-by/{profileId}:
    $ref: './paths/activities.yaml#/invites_accepted_by'

  # Vouches API
  /api/v1/vouches:
    $ref: './paths/vouches.yaml#/vouches_query'
  /api/v1/vouches/count:
    $ref: './paths/vouches.yaml#/vouches_count'
  /api/v1/vouches/stats:
    $ref: './paths/vouches.yaml#/vouches_stats'
  /api/v1/vouches/vouched-ethereum:
    $ref: './paths/vouches.yaml#/vouches_vouched_ethereum'
  /api/v1/vouches/most-credible-vouchers:
    $ref: './paths/vouches.yaml#/vouches_most_credible_vouchers'
  /api/v1/vouches/mutual-vouchers:
    $ref: './paths/vouches.yaml#/vouches_mutual_vouchers'
  /api/v1/vouches/rewards:
    $ref: './paths/vouches.yaml#/vouches_rewards'

  # Reviews API
  /api/v1/reviews:
    $ref: './paths/reviews.yaml#/reviews_query'
  /api/v1/reviews/count:
    $ref: './paths/reviews.yaml#/reviews_count'
  /api/v1/reviews/stats:
    $ref: './paths/reviews.yaml#/reviews_stats'
  /api/v1/reviews/stats/bulk:
    $ref: './paths/reviews.yaml#/reviews_stats_bulk'

  # Replies API
  /api/v1/replies/query:
    $ref: './paths/replies.yaml#/reply_query'
  /api/v1/replies/summary:
    $ref: './paths/replies.yaml#/reply_summary'

  # Notifications API
  /api/v1/notifications/user-fcm-token:
    $ref: './paths/notifications.yaml#/user_fcm_token'

  # Users API
  /api/v1/users/search:
    $ref: './paths/users.yaml#/user_search'
  /api/v1/users/{userkey}/stats:
    $ref: './paths/users.yaml#/user_stats'
  /api/v1/extension/user/{twitterUsername}/info:
    $ref: './paths/users.yaml#/extension_user_info'

  # Connections API
  /api/v1/transactions/recent:
    $ref: './paths/connections.yaml#/recent_transactions'
  /api/v1/interactions/recent:
    $ref: './paths/connections.yaml#/recent_interactions'

  # Search API
  /api/v1/search:
    $ref: './paths/search.yaml#/search'
  /api/v1/markets/search:
    $ref: './paths/search.yaml#/market_search'

  # Invitations API
  /api/v1/invitations:
    $ref: './paths/invitations.yaml#/invitations_query'
  /api/v1/invitations/pending/{address}:
    $ref: './paths/invitations.yaml#/pending_invitations'

  # Add other API paths as needed

components:
  securitySchemes:
    privyAuth:
      type: http
      scheme: bearer
      description: Privy authentication token, obtained through the Privy authentication flow.

  schemas:
    # Authentication schemas
    PrivyLoginRequest:
      $ref: './schemas/auth.yaml#/PrivyLoginRequest'
    PrivyLoginResponse:
      $ref: './schemas/auth.yaml#/PrivyLoginResponse'
    PrivyOAuth2TokensRequest:
      $ref: './schemas/auth.yaml#/PrivyOAuth2TokensRequest'
    AuthTokenClaims:
      $ref: './schemas/auth.yaml#/AuthTokenClaims'
    ErrorResponse:
      $ref: './schemas/auth.yaml#/ErrorResponse'

    # Attestations schemas
    AttestationQueryRequest:
      $ref: './schemas/attestations.yaml#/AttestationQueryRequest'
    AttestationQueryResponse:
      $ref: './schemas/attestations.yaml#/AttestationQueryResponse'
    Attestation:
      $ref: './schemas/attestations.yaml#/Attestation'
    ExtendedAttestationQueryRequest:
      $ref: './schemas/attestations.yaml#/ExtendedAttestationQueryRequest'
    ExtendedAttestationQueryResponse:
      $ref: './schemas/attestations.yaml#/ExtendedAttestationQueryResponse'
    ExtendedAttestation:
      $ref: './schemas/attestations.yaml#/ExtendedAttestation'
    CreateAttestationSignatureRequest:
      $ref: './schemas/attestations.yaml#/CreateAttestationSignatureRequest'
    CreateAttestationSignatureResponse:
      $ref: './schemas/attestations.yaml#/CreateAttestationSignatureResponse'

    # Common schemas
    Error:
      $ref: './schemas/common.yaml#/Error'

    # Profile schemas
    Profile:
      $ref: './schemas/profiles.yaml#/Profile'
    ActivityActor:
      $ref: './schemas/profiles.yaml#/ActivityActor'

    # Activities schemas
    ActivityInfo:
      $ref: './schemas/activities.yaml#/ActivityInfo'
    BulkVotes:
      $ref: './schemas/activities.yaml#/BulkVotes'

    # Vouches schemas
    VouchActivity:
      $ref: './schemas/vouches.yaml#/VouchActivity'
    VouchStatsResponse:
      $ref: './schemas/vouches.yaml#/VouchStatsResponse'

    # Reviews schemas
    ReviewActivity:
      $ref: './schemas/reviews.yaml#/ReviewActivity'
    ReviewStats:
      $ref: './schemas/reviews.yaml#/ReviewStats'
    ReviewStatsMap:
      $ref: './schemas/reviews.yaml#/ReviewStatsMap'

    # Replies schemas
    Reply:
      $ref: './schemas/replies.yaml#/Reply'
    ReplySummary:
      $ref: './schemas/replies.yaml#/ReplySummary'
    ReplyQueryRequest:
      $ref: './schemas/replies.yaml#/ReplyQueryRequest'
    ReplyQueryResponse:
      $ref: './schemas/replies.yaml#/ReplyQueryResponse'
    ReplySummaryRequest:
      $ref: './schemas/replies.yaml#/ReplySummaryRequest'
    ReplySummaryResponse:
      $ref: './schemas/replies.yaml#/ReplySummaryResponse'

    # Notifications schemas
    UpdateUserFCMTokenRequest:
      $ref: './schemas/notifications.yaml#/UpdateUserFCMTokenRequest'
    UpdateUserFCMTokenResponse:
      $ref: './schemas/notifications.yaml#/UpdateUserFCMTokenResponse'
    NotificationPayload:
      $ref: './schemas/notifications.yaml#/NotificationPayload'

    # Users schemas
    User:
      $ref: './schemas/users.yaml#/User'
    UserSearchRequest:
      $ref: './schemas/users.yaml#/UserSearchRequest'
    UserSearchResponse:
      $ref: './schemas/users.yaml#/UserSearchResponse'
    UserStatsRequest:
      $ref: './schemas/users.yaml#/UserStatsRequest'
    UserStatsResponse:
      $ref: './schemas/users.yaml#/UserStatsResponse'
    ExtensionUserInfoResponse:
      $ref: './schemas/users.yaml#/ExtensionUserInfoResponse'

    # Connections schemas
    Transaction:
      $ref: './schemas/connections.yaml#/Transaction'
    Interaction:
      $ref: './schemas/connections.yaml#/Interaction'
    Relationship:
      $ref: './schemas/connections.yaml#/Relationship'
    RecentTransactionsRequest:
      $ref: './schemas/connections.yaml#/RecentTransactionsRequest'
    RecentTransactionsResponse:
      $ref: './schemas/connections.yaml#/RecentTransactionsResponse'
    RecentInteractionsRequest:
      $ref: './schemas/connections.yaml#/RecentInteractionsRequest'
    RecentInteractionsResponse:
      $ref: './schemas/connections.yaml#/RecentInteractionsResponse'

    # Search schemas
    SearchQueryRequest:
      $ref: './schemas/search.yaml#/SearchQueryRequest'
    SearchQueryResponse:
      $ref: './schemas/search.yaml#/SearchQueryResponse'
    MarketSearchQueryRequest:
      $ref: './schemas/search.yaml#/MarketSearchQueryRequest'
    MarketSearchQueryResponse:
      $ref: './schemas/search.yaml#/MarketSearchQueryResponse'
    MarketProfile:
      $ref: './schemas/search.yaml#/MarketProfile'

    # Invitations schemas
    Invitation:
      $ref: './schemas/invitations.yaml#/Invitation'
    ScoreImpact:
      $ref: './schemas/invitations.yaml#/ScoreImpact'
    ScoreChange:
      $ref: './schemas/invitations.yaml#/ScoreChange'
    ScoreSimulationResult:
      $ref: './schemas/invitations.yaml#/ScoreSimulationResult'
    InvitationQueryRequest:
      $ref: './schemas/invitations.yaml#/InvitationQueryRequest'
    InvitationQueryResponse:
      $ref: './schemas/invitations.yaml#/InvitationQueryResponse'
    PendingInvitation:
      $ref: './schemas/invitations.yaml#/PendingInvitation'
    PendingInvitationsResponse:
      $ref: './schemas/invitations.yaml#/PendingInvitationsResponse'

    # Add other schema references as needed
